---
import OoneexLogo from "@assets/ooneex_alternative_white_logo.svg";
import FooterSlogan from "@components/molecules/FooterSlogan/FooterSlogan.astro";
import FooterMenu from "@components/molecules/FooterMenu/FooterMenu.astro";

const menu = [
	{
		subtitle: "Contact us",
		items: [
			{ href: "/email", textContent: "Email" },
			{ href: "/slack", textContent: "Slack" },
		],
	},
	{
		subtitle: "About Ooneex",
		items: [
			{ href: "/terms", textContent: "Term and conditions" },
			{ href: "/privacy", textContent: "Privacy Policy" },
			{ href: "/affiliate", textContent: "Affiliate" },
			{ href: "/faq", textContent: "FAQ" },
		],
	},
	{
		subtitle: "For Institutions",
		items: [
			{ href: "/medecine", textContent: "Medecine" },
			{ href: "/pharmacy", textContent: "Pharmacy" },
			{ href: "/nursing", textContent: "Nursing" },
			{ href: "/dentistry", textContent: "Dentistry" },
		],
	},
];
---

<footer>
	<div class="m-auto font-primary">
		<div class="flex items-center justify-center h-max m-auto">
			<OoneexLogo
				width={200}
				height={30.325}
			/>
		</div>
		<FooterSlogan />
		<FooterMenu menu={menu} />
		<div class="copyrights">
			<p>All rights reserved © Ooneex {new Date().getFullYear()}</p>
		</div>
	</div>
</footer>

<style>
	footer {
		padding: calc(var(--base-size) * 3.5) 0;
		background: var(--color-primary);

		& * {
			color: var(--color-light);
		}

		& > div {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: calc(var(--base-size) * 2.5);
		}
		
		& .footer-logo img {
			width: calc(var(--base-size) * 10);
			height: auto;
		}

		& .copyrights {
			font-size: calc(var(--base-size) * 0.85);
		}
	}

	/*=============================================| BREAKPOINTS |=============================================*/

	@media screen and (min-width: 600px) {
		footer {
			& .menu {
				flex-direction: row;
			}
		}
	}
</style>
