---
const { slogan } = Astro.props;
---

<div class="slogan">
	<p set:html={slogan} />
</div>

<style>
	.slogan {
		text-align: center;
		font-size: calc(var(--base-size) * 1.15);
		font-weight: 600;
		color: var(--primary-color-content);
		margin-top: calc(var(--base-size) * 0.5);
	}
</style>
