<div class="slogan">
	<p class="text-center">
		Shaped by our <strong>community</strong>, designed for <strong>your</strong>
		personal study <strong>needs</strong>
	</p>
</div>

<style>
	.slogan {
		font-size: calc(var(--base-size) * 1.15);
		font-weight: 600;
		margin-top: calc(var(--base-size) * 0.5);

		& strong {
			color: var(--color-secondary);
			font-weight: inherit;
		}
	}
</style>
