<div class="bg-question/2 py-24 sm:py-32">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-base/7 font-semibold text-secondary-text">
            Deploy faster
        </h2>
        <p
            class="mt-2 max-w-lg text-4xl font-semibold tracking-tight text-pretty text-question sm:text-5xl"
        >
            Question bank and clinical cases
        </p>
        <div
            class="mt-10 grid grid-cols-1 gap-4 sm:mt-16 lg:grid-cols-6 lg:grid-rows-2"
        >
            <div class="relative lg:col-span-3">
                <div
                    class="absolute inset-0 rounded-lg bg-white max-lg:rounded-t-4xl lg:rounded-tl-4xl"
                >
                </div>
                <div
                    class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-t-[calc(2rem+1px)] lg:rounded-tl-[calc(2rem+1px)]"
                >
                    <img
                        src="https://tailwindcss.com/plus-assets/img/component-images/bento-01-performance.png"
                        alt=""
                        class="h-80 object-cover object-left"
                    />
                    <div class="p-10 pt-4">
                        <h3 class="text-sm/4 font-semibold text-secondary-text">
                            Performance
                        </h3>
                        <p
                            class="mt-2 text-lg font-medium tracking-tight text-question"
                        >
                            Lightning-fast builds
                        </p>
                        <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. In gravida justo et nulla efficitur, maximus
                            egestas sem pellentesque.
                        </p>
                    </div>
                </div>
                <div
                    class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5 max-lg:rounded-t-4xl lg:rounded-tl-4xl"
                >
                </div>
            </div>
            <div class="relative lg:col-span-3">
                <div
                    class="absolute inset-0 rounded-lg bg-white lg:rounded-tr-4xl"
                >
                </div>
                <div
                    class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-tr-[calc(2rem+1px)]"
                >
                    <img
                        src="https://tailwindcss.com/plus-assets/img/component-images/bento-01-releases.png"
                        alt=""
                        class="h-80 object-cover object-left lg:object-right"
                    />
                    <div class="p-10 pt-4">
                        <h3 class="text-sm/4 font-semibold text-secondary-text">
                            Releases
                        </h3>
                        <p
                            class="mt-2 text-lg font-medium tracking-tight text-question"
                        >
                            Push to deploy
                        </p>
                        <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
                            Curabitur auctor, ex quis auctor venenatis, eros
                            arcu rhoncus massa, laoreet dapibus ex elit vitae
                            odio.
                        </p>
                    </div>
                </div>
                <div
                    class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5 lg:rounded-tr-4xl"
                >
                </div>
            </div>
            <div class="relative lg:col-span-2">
                <div
                    class="absolute inset-0 rounded-lg bg-white lg:rounded-bl-4xl"
                >
                </div>
                <div
                    class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] lg:rounded-bl-[calc(2rem+1px)]"
                >
                    <img
                        src="https://tailwindcss.com/plus-assets/img/component-images/bento-01-speed.png"
                        alt=""
                        class="h-80 object-cover object-left"
                    />
                    <div class="p-10 pt-4">
                        <h3 class="text-sm/4 font-semibold text-secondary-text">
                            Speed
                        </h3>
                        <p
                            class="mt-2 text-lg font-medium tracking-tight text-question"
                        >
                            Built for power users
                        </p>
                        <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
                            Sed congue eros non finibus molestie. Vestibulum
                            euismod augue.
                        </p>
                    </div>
                </div>
                <div
                    class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5 lg:rounded-bl-4xl"
                >
                </div>
            </div>
            <div class="relative lg:col-span-2">
                <div class="absolute inset-0 rounded-lg bg-white"></div>
                <div
                    class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)]"
                >
                    <img
                        src="https://tailwindcss.com/plus-assets/img/component-images/bento-01-integrations.png"
                        alt=""
                        class="h-80 object-cover"
                    />
                    <div class="p-10 pt-4">
                        <h3 class="text-sm/4 font-semibold text-secondary-text">
                            Integrations
                        </h3>
                        <p
                            class="mt-2 text-lg font-medium tracking-tight text-question"
                        >
                            Connect your favorite tools
                        </p>
                        <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
                            Maecenas at augue sed elit dictum vulputate, in nisi
                            aliquam maximus arcu.
                        </p>
                    </div>
                </div>
                <div
                    class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5"
                >
                </div>
            </div>
            <div class="relative lg:col-span-2">
                <div
                    class="absolute inset-0 rounded-lg bg-white max-lg:rounded-b-4xl lg:rounded-br-4xl"
                >
                </div>
                <div
                    class="relative flex h-full flex-col overflow-hidden rounded-[calc(var(--radius-lg)+1px)] max-lg:rounded-b-[calc(2rem+1px)] lg:rounded-br-[calc(2rem+1px)]"
                >
                    <img
                        src="https://tailwindcss.com/plus-assets/img/component-images/bento-01-network.png"
                        alt=""
                        class="h-80 object-cover"
                    />
                    <div class="p-10 pt-4">
                        <h3 class="text-sm/4 font-semibold text-secondary-text">
                            Network
                        </h3>
                        <p
                            class="mt-2 text-lg font-medium tracking-tight text-question"
                        >
                            Globally distributed CDN
                        </p>
                        <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
                            Aenean vulputate justo commodo auctor vehicula in
                            malesuada semper.
                        </p>
                    </div>
                </div>
                <div
                    class="pointer-events-none absolute inset-0 rounded-lg shadow-sm outline outline-black/5 max-lg:rounded-b-4xl lg:rounded-br-4xl"
                >
                </div>
            </div>
        </div>
    </div>
</div>
