<div class="overflow-hidden bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div
            class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
        >
            <div class="lg:ml-auto lg:pt-4 lg:pl-4">
                <div class="lg:max-w-lg">
                    <h2 class="text-base/7 font-semibold text-secondary-text">
                        Powerful Medical Resources at Your Fingertips
                    </h2>
                    <p
                        class="mt-2 text-4xl font-semibold tracking-tight text-pretty text-primary sm:text-5xl"
                    >
                        Active learning tools
                    </p>
                    <p class="mt-6 text-lg/8 text-gray-600"></p>
                    <dl
                        class="mt-10 max-w-xl space-y-8 text-base/7 text-gray-600 lg:max-w-none"
                    >
                        <div class="relative pl-9">
                            <dt class="inline font-semibold text-primary">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="64"
                                    height="64"
                                    viewBox="0 0 64 64"
                                    class="absolute top-1 left-0 size-7 text-secondary-text"
                                >
                                    <path
                                        fill="currentColor"
                                        d="m57.063 20.218l1.029-1.698s.906-1.502.906-3.519c0-4.886-4.662-4.757-4.662-4.757L44.179 7.479L38.638 2l-7.291 1.985l-2.391-.651l-1.817 1.797l-10.497 2.858s-4.04-.111-4.04 4.123c0 1.748.786 3.05.786 3.05l1.351 2.23l-1.187 1.172l-5.86 1.596s-4.662-.129-4.662 4.757a7.56 7.56 0 0 0 .779 3.281L2 29.987l.949.376c.021.051.029.108.07.149c1.835 1.839 1.684 4.309 1.422 5.643l-1.109 1.111l8.401 4.039L23.271 60.35c1.849 2.906 5.774 1.088 5.774 1.088l29.649-14.256l-1.109-1.111c-.262-1.334-.413-3.804 1.422-5.644c.041-.041.049-.098.07-.148l.949-.377l-5.513-5.45l6.33-3.043l-.961-.963c-.227-1.156-.358-3.297 1.233-4.891c.035-.036.041-.084.06-.129l.825-.327zm-5.685-8.835l-1.25 1.978l-3.234-3.198zM39.176 7.144l4.643 4.963l-16.789 6.067l-3.965-6.156zM15.744 19.052l11.457 18.911l-21.827-8.658zm-4.775 2.067l-1.345 1.33l-.538-.825zm-4.247 1.034l1.252 1.927l-2.713 2.682a5.6 5.6 0 0 1-.331-1.845c0-1.826.906-2.521 1.792-2.764M5.154 37.026l.015-.058l25.147 11.007l-24.95-11.894c.023-.135.041-.284.06-.434l19.533 8.18l-19.465-9.116a8 8 0 0 0-.086-1.245l18.079 7.445L5.165 32.4a6 6 0 0 0-.47-1.137l24.883 10.625l.566.934c1.167 1.834 3.284 1.495 4.351 1.177c1.475.728 4.119 2.412 3.442 4.893c-.357 1.312-1.142 1.948-2.399 1.948c-1.273 0-2.544-.666-2.557-.675zM30.2 50.185l-1.966.814l-1.67-2.563zm-7.614 5.381l-7.729-12.759l7.682 3.693l3.633 5.592c-1.465.626-3.102 2.055-3.586 3.474m34.033-12.184a8 8 0 0 0-.086 1.245l-19.465 9.116l19.533-8.18c.019.149.036.299.06.434l-24.95 11.895l25.147-11.007l.015.058L29.046 60.08c-.013.009-1.282.675-2.557.675c-1.258 0-2.042-.637-2.399-1.948c-.918-3.367 4.302-5.276 4.38-5.305l4.575-1.952c.491.209 3.994 1.584 5.711-1.115l1.083-1.786l17.494-7.47a6 6 0 0 0-.471 1.137L38.54 50.827zm.034-4.161l-14.825 6.144l4.114-6.791l6.767-3.253zm2.393-11.107a7 7 0 0 0-.075 1.079l-16.868 7.9l16.928-7.089c.017.129.031.26.052.376L37.459 40.688l21.794-9.539l.013.05l-24.117 11.387c-.011.007-1.112.585-2.216.585c-1.091 0-1.77-.553-2.079-1.689c-.796-2.918 3.728-4.572 3.796-4.597l25.014-10.68a5.3 5.3 0 0 0-.407.986l-15.88 7.376z"
                                    ></path>
                                </svg>
                                Books from your professors.
                            </dt>
                        </div>
                        <div class="relative pl-9">
                            <dt class="inline font-semibold text-primary">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    class="absolute top-0 left-0 size-7 text-secondary-text"
                                >
                                    <path
                                        fill="currentColor"
                                        d="M9 3V1h6v2zm2 11h2V8h-2zm1 8q-1.85 0-3.488-.712T5.65 19.35t-1.937-2.863T3 13t.713-3.488T5.65 6.65t2.863-1.937T12 4q1.55 0 2.975.5t2.675 1.45l1.4-1.4l1.4 1.4l-1.4 1.4Q20 8.6 20.5 10.025T21 13q0 1.85-.713 3.488T18.35 19.35t-2.863 1.938T12 22"
                                    ></path>
                                </svg>
                                Understand huge book in a minute.
                            </dt>
                        </div>
                        <div class="relative pl-9">
                            <dt class="inline font-semibold text-primary">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="36"
                                    height="36"
                                    viewBox="0 0 36 36"
                                    class="absolute top-0 left-0 size-7 text-secondary-text"
                                >
                                    <path
                                        fill="currentColor"
                                        d="m33 6.4l-3.7-3.7a1.71 1.71 0 0 0-2.36 0L23.65 6H6a2 2 0 0 0-2 2v22a2 2 0 0 0 2 2h22a2 2 0 0 0 2-2V11.76l3-3a1.67 1.67 0 0 0 0-2.36M18.83 20.13l-4.19.93l1-4.15l9.55-9.57l3.23 3.23ZM29.5 9.43L26.27 6.2l1.85-1.85l3.23 3.23Z"
                                        class="clr-i-solid clr-i-solid-path-1"
                                    ></path>
                                    <path fill="none" d="M0 0h36v36H0z"></path>
                                </svg>
                                Create note.
                            </dt>
                        </div>
                        <div class="relative pl-9">
                            <dt class="inline font-semibold text-primary">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="48"
                                    height="48"
                                    viewBox="0 0 48 48"
                                    class="absolute top-0 left-0 size-7 text-white"
                                >
                                    <path
                                        fill="#f77e40"
                                        stroke="currentColor"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        d="M14.243 7.561h19.514a2.65 2.65 0 0 1 2.657 2.658v27.563a2.65 2.65 0 0 1-2.657 2.657H14.243a2.65 2.65 0 0 1-2.657-2.657V10.219a2.65 2.65 0 0 1 2.656-2.658m1.108 9.325h17.703M15.35 20.312h17.703M15.35 23.74h17.703M15.35 27.166h17.703M15.35 13.459h7.097M15.35 30.593h7.097M15.35 34.02h17.703m-21.468 3.716h24.83m-16.556 0v2.702m8.283-2.702v2.702m-16.573-3.6L5.592 14.524a2.65 2.65 0 0 1 1.878-3.255h0l4.1-1.099m24.861 26.668l5.977-22.314a2.65 2.65 0 0 0-1.878-3.255h0l-4.1-1.099"
                                        stroke-width="1"></path>
                                </svg>
                                Create Flashcard.
                            </dt>
                        </div>
                        <div class="relative pl-9">
                            <dt class="inline font-semibold text-primary">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    class="absolute top-0 left-0 text-secondary-text"
                                >
                                    <path
                                        fill="#f77e40"
                                        d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10m-1-7v2h2v-2zm2-1.645A3.502 3.502 0 0 0 12 6.5a3.5 3.5 0 0 0-3.433 2.813l1.962.393A1.5 1.5 0 1 1 12 11.5a1 1 0 0 0-1 1V14h2z"
                                    ></path>
                                </svg>
                                Create Question bank.
                            </dt>
                        </div>
                        <div class="relative pl-9">
                            <dt class="inline font-semibold text-primary">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    class="absolute top-0 left-0 text-secondary-text"
                                >
                                    <path
                                        fill="#f77e40"
                                        d="M17 15.635q-.961 0-1.634-.673q-.674-.673-.674-1.635t.674-1.635T17 11.02t1.635.673q.673.674.673 1.635t-.674 1.635t-1.634.673M8.923 19.33V20H5.625q-.68 0-1.153-.475Q4 19.052 4 18.386V5.615q0-.666.475-1.14T5.615 4h12.77q.666 0 1.14.475T20 5.615v3.693q-.64-.514-1.394-.786T17 8.25q-.134 0-.25.01t-.25.028v-.057q0-.213-.144-.357T16 7.731H8q-.213 0-.356.144t-.144.357t.144.356T8 8.73h6.923q-.923.4-1.602 1.111q-.679.712-1.05 1.658H8q-.213 0-.356.144T7.5 12t.144.356T8 12.5h4.02q-.097.621-.052 1.246t.245 1.235q-.172.077-.336.144t-.318.144H8q-.213 0-.356.144q-.144.144-.144.357t.144.356t.356.143h2.296q-.655.575-1.014 1.388t-.359 1.674m3.577 2.207q-.343 0-.575-.232t-.233-.575v-1.4q0-.344.164-.647q.164-.302.46-.482q.684-.418 1.186-.586t1.296-.304q.258-.045.5.011q.243.055.404.256L17 19.25l1.273-1.671q.162-.212.404-.262t.505-.005q.809.136 1.297.302q.489.167 1.2.588q.296.179.453.478t.176.631v1.42q0 .343-.233.575t-.575.232z"
                                    ></path>
                                </svg>
                                Create Clinical case.
                            </dt>
                        </div>
                        <div class="relative pl-9">
                            <dt class="inline font-semibold text-primary">
                                <svg
                                    xmlns="http://www.w3.org/2000/svg"
                                    width="24"
                                    height="24"
                                    viewBox="0 0 24 24"
                                    class="absolute left-0 top-0 text-secondary-text"
                                >
                                    <path
                                        fill="currentColor"
                                        fill-rule="evenodd"
                                        d="m13.087 21.388l.542-.916c.42-.71.63-1.066.968-1.262c.338-.197.763-.204 1.613-.219c1.256-.021 2.043-.098 2.703-.372a5 5 0 0 0 2.706-2.706C22 14.995 22 13.83 22 11.5v-1c0-3.273 0-4.91-.737-6.112a5 5 0 0 0-1.65-1.651C18.41 2 16.773 2 13.5 2h-3c-3.273 0-4.91 0-6.112.737a5 5 0 0 0-1.651 1.65C2 5.59 2 7.228 2 10.5v1c0 2.33 0 3.495.38 4.413a5 5 0 0 0 2.707 2.706c.66.274 1.447.35 2.703.372c.85.015 1.275.022 1.613.219c.337.196.548.551.968 1.262l.542.916c.483.816 1.69.816 2.174 0M7.5 9.715c0 1.752 2.163 3.615 3.49 4.593c.454.335.681.502 1.01.502s.556-.167 1.01-.502c1.327-.978 3.49-2.84 3.49-4.593c0-2.677-2.475-3.677-4.5-1.609c-2.025-2.068-4.5-1.068-4.5 1.609"
                                        clip-rule="evenodd"
                                        stroke-width="0.5"
                                        stroke="currentColor"></path>
                                </svg>
                                Like, comment and share with your classmates.
                            </dt>
                        </div>
                    </dl>
                </div>
            </div>
            <div class="flex items-start justify-end lg:order-first">
                <img
                    width="2432"
                    height="1442"
                    src="https://tailwindcss.com/plus-assets/img/component-images/project-app-screenshot.png"
                    alt="Product screenshot"
                    class="w-3xl max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-228"
                />
            </div>
        </div>
    </div>
</div>
