<div class="bg-video/2 py-24 sm:py-32">
    <div class="mx-auto max-w-2xl px-6 lg:max-w-7xl lg:px-8">
        <h2 class="text-base/7 font-semibold text-secondary-text">
            Deploy faster
        </h2>
        <p
            class="mt-2 max-w-lg text-4xl font-semibold tracking-tight text-pretty text-video sm:text-5xl"
        >
            Videos
        </p>
        <div
            class="mt-10 grid grid-cols-1 gap-4 sm:mt-16 lg:grid-cols-6 lg:grid-rows-2"
        >
            <div class="flex p-px lg:col-span-4">
                <div
                    class="w-full overflow-hidden rounded-lg bg-white shadow-sm outline outline-black/5 max-lg:rounded-t-4xl lg:rounded-tl-4xl"
                >
                    <img
                        src="https://tailwindcss.com/plus-assets/img/component-images/bento-02-releases.png"
                        alt=""
                        class="h-80 object-cover object-left"
                    />
                    <div class="p-10">
                        <h3 class="text-sm/4 font-semibold text-secondary-text">
                            Releases
                        </h3>
                        <p
                            class="mt-2 text-lg font-medium tracking-tight text-video"
                        >
                            Push to deploy
                        </p>
                        <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
                            Lorem ipsum dolor sit amet, consectetur adipiscing
                            elit. In gravida justo et nulla efficitur, maximus
                            egestas sem pellentesque.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex p-px lg:col-span-2">
                <div
                    class="w-full overflow-hidden rounded-lg bg-white shadow-sm outline outline-black/5 lg:rounded-tr-4xl"
                >
                    <img
                        src="https://tailwindcss.com/plus-assets/img/component-images/bento-02-integrations.png"
                        alt=""
                        class="h-80 object-cover"
                    />
                    <div class="p-10">
                        <h3 class="text-sm/4 font-semibold text-secondary-text">
                            Integrations
                        </h3>
                        <p
                            class="mt-2 text-lg font-medium tracking-tight text-video"
                        >
                            Connect your favorite tools
                        </p>
                        <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
                            Curabitur auctor, ex quis auctor venenatis, eros
                            arcu rhoncus massa.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex p-px lg:col-span-2">
                <div
                    class="w-full overflow-hidden rounded-lg bg-white shadow-sm outline outline-black/5 lg:rounded-bl-4xl"
                >
                    <img
                        src="https://tailwindcss.com/plus-assets/img/component-images/bento-02-security.png"
                        alt=""
                        class="h-80 object-cover"
                    />
                    <div class="p-10">
                        <h3 class="text-sm/4 font-semibold text-secondary-text">
                            Security
                        </h3>
                        <p
                            class="mt-2 text-lg font-medium tracking-tight text-video"
                        >
                            Advanced access control
                        </p>
                        <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
                            Vestibulum ante ipsum primis in faucibus orci luctus
                            et ultrices posuere cubilia.
                        </p>
                    </div>
                </div>
            </div>
            <div class="flex p-px lg:col-span-4">
                <div
                    class="w-full overflow-hidden rounded-lg bg-white shadow-sm outline outline-black/5 max-lg:rounded-b-4xl lg:rounded-br-4xl"
                >
                    <img
                        src="https://tailwindcss.com/plus-assets/img/component-images/bento-02-performance.png"
                        alt=""
                        class="h-80 object-cover object-left"
                    />
                    <div class="p-10">
                        <h3 class="text-sm/4 font-semibold text-secondary-text">
                            Performance
                        </h3>
                        <p
                            class="mt-2 text-lg font-medium tracking-tight text-video"
                        >
                            Lightning-fast builds
                        </p>
                        <p class="mt-2 max-w-lg text-sm/6 text-gray-600">
                            Sed congue eros non finibus molestie. Vestibulum
                            euismod augue vel commodo vulputate. Maecenas at
                            augue sed elit dictum vulputate.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
