---
import "@fontsource/montserrat/100.css";
import "@fontsource/montserrat/200.css";
import "@fontsource/montserrat/300.css";
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/500.css";
import "@fontsource/montserrat/600.css";
import "@fontsource/montserrat/700.css";
import "@fontsource/montserrat/800.css";
import "@fontsource/montserrat/900.css";
import "@fontsource/saira-stencil-one";
import "@styles/global.css";
import ooneexSymbolLogo from "@assets/ooneex_alternative_white_symbol_logo.svg";
import Footer from "@components/shared/Footer.astro";

export type Props = {
	title: string;
};

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<link
			rel="icon"
			type="image/svg+xml"
			href={ooneexSymbolLogo.src}
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>
		<title>Ooneex | {title}</title>
		<link
			rel="stylesheet"
			href="https://rsms.me/inter/inter.css"
		/>
	</head>
	<body>
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
