---
import type { FooterPropsType } from "@components/types";

const { menu } = Astro.props as FooterPropsType;
---

<div class="menu flex flex-col">
	{
		menu.map(({ subtitle, items }) => (
			<div class="text-center">
				<h3 class="text-secondary">{subtitle}</h3>
				<ul>
					{items.map((item) => (
						<li>
							<a href={item.href}>{item.textContent}</a>
						</li>
					))}
				</ul>
			</div>
		))
	}
</div>

<style>
	.menu {
		gap: calc(var(--base-size) * 3);

		& h3 {
			font-size: var(--base-size);
			font-weight: 600;
			margin-bottom: calc(var(--base-size) * 1.25);
		}

		& a {
			font-size: calc(var(--base-size) * 0.85);
			font-weight: 400;
			text-decoration: none;
			transition: color var(--smooth);
		}
	}

	/*=============================================| BREAKPOINTS |=============================================*/

	@media screen and (min-width: 600px) {
		.menu {
			flex-direction: row;
		}
	}
</style>
